<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<div class="form-group">-->
      <!--&lt;!&ndash;用formControl指令把input与后台的titleFilter字段绑定在一起，当input里面的值发生改变后-->
        <!--会往外发射value change事件，我们要做的就是订阅这个值，进行处理&ndash;&gt;-->
      <!--<input class="form-control" placeholder="请输入商品名称"-->
      <!--[formControl]="titleFilter">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!-- 循环products这个属性，每次迭代的是product  -->
<!-- 拿到列表后，给列表加一个自定义管道（name = filter），过滤数据  -->
<div *ngFor="let product of products | async" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <!-- 标签绑定：把HTML的一个标签的属性和controller上的一个属性绑定 -->
    <img [src]="imgUrl">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}元</h4>
      <h4><a [routerLink]="['/product',product.id]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <!-- 输入属性：将父组件的值传递到子组件  -->
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>
